doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Pingerida
    link(rel='stylesheet' href='competition.css')
#logo
    img(src='ekool_horizontal.png' width='180' height='80')
.header
    .header-right
        a(href='grades') Hinded
        a(href='lessons') Ained
        a(href='competition') Pingerida
        // <a href="#about" class="active" onclick="document.getElementById('id01').style.display='block'">Logi sisse</a>
form
    label(for='klass') Klass:
    select#klass(name='klass')
        option(value='12') 12. klass
        option(value='11') 11. klass
        option(value='10') 10. klass
        option(value='9') 9. klass
        option(value='8') 8. klass
        option(value='7') 7. klass
        option(value='6') 6. klass
        option(value='5') 5. klass
        option(value='4') 4. klass
        option(value='3') 3. klass
        option(value='2') 2. klass
        option(value='1') 1. klass
    input(type='submit')
    br
    br
table
    tr
        th Koht
        th &Otilde;pilane
        th Keskmine hinne
    tr
        td Placeholder1
        td Placeholder2
        td Placeholder3
