doctype html
head
    meta(charset='UTF-8')
    title e-kool
    link(rel='stylesheet' href='grades.css')
#logo
    img(src='ekool_horizontal.png' width='180' height='80')
.header
    .header-right
        a(href='grades') Hinded
        a(href='lessons') Ained
        a(href='competition') Pingerida
//      a.active(href='#about' onclick="document.getElementById('id01').style.display='block'") Logi sisse
div(style='padding-left:16px')
    h2 Hinneteleht
    p Sinu nimi
table
    tr
        th Aine
        th Hinded
        th Kokkuv&otilde;ttev hinne
    each val, i in ained
        tr
            td= val.aine_nimi
            td.kala= hinded[i].hinne
            td= val.hinne
    script.
        var els = document.getElementsByClassName('kala');
        for (var i = 0; i < els.length; i++) {
            els[i].innerHTML = els[i].innerHTML.replace(/,/g, ', ');
        }

