doctype html
head
    meta(charset='UTF-8')
    title e-kool
    link(rel='stylesheet' href='style.css')
#logo
    img(src='downloadtrans.png' width='80' height='80')
.topnav
    a.active(href='#home') Koolipere
    a(href='grades') Hinneteleht
    a(href='#tunnid') Ained
    a(href='#about') Pingerida
    button.login(onclick="document.getElementById('id01').style.display='block'") Login