doctype html
head
    meta(charset='UTF-8')
    title e-kool
    link(rel='stylesheet' href='style.css')
#logo
    img(src='ekool_horizontal.png' width='180' height='80')
.header
    .header-right
        a(href='constact') Kontakt
        a.active(href='studentregister' onclick="document.getElementById('id02').style.display='block'") Registreeru
#id01
    form.modal-content.animate(action='/authentication' method='post')
        .imgcontainer
            span.close(onclick="document.getElementById('id01').style.display='none'" title='Close Modal') &times;
            img.avatar(src='download.png' alt='Avatar')
        .container
            label(for='uname')
                b Username
            input(type='text' placeholder='Enter Username' name='uname' required='')
            label(for='psw')
                b Password
            input(type='password' placeholder='Enter Password' name='psw' required='')
            button.submitbtn(type='submit') Login
            label
                input(type='checkbox' checked='checked' name='remember')
                |  Remember me
        .container(style='background-color:#f1f1f1')
            button.cancelbtn(type='button' onclick="document.getElementById('id01').style.display='none'") Cancel
            span.psw
                a(href='#' onclick="document.getElementById('id02').style.display='block'") Sign Up
.st-page
    h1 TEEME &Uuml;HESKOOS &Otilde;PPIMISE L&Otilde;BUSAKS
    button.pohikoolid V&otilde;imalused
    h2
.undernavbar
    a(href='#home') Kasutajatingimused
    a(href='#news') Toetatud koolid
    a(href='#about' onclick="document.getElementById('id02').style.display='block'") Registreeru




