doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='lessons.css')
    title e-kool
#logo
    img(src='ekool_horizontal.png' width='180' height='80')
.header
    .header-right
        a(href='#') Empty
        a(href='#') Empty
        a(href='#') Empty

form(action='/opetaja' method='post')
    table
        tr
            th Tunnid kuhu oled registreeritud
        each val, i in ained
            tr
                th.kala
                    button(href='grades' onclick="tip(this)" name="aine" value=val.aine_nimi)= val.aine_nimi

